dist
node_modules
yarn-error.log
build
pnpm-debug.log
.env*
.DS_Store
dev.db

# random testing crap
/packages/usage/output
/packages/usage/custom-output
/packages/usage/__tests__/generated
/packages/usage/prisma/prisma
/packages/usage/prisma/bridg
/packages/usage/temp
/packages/usage/prisma/bridg_tmp
